extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/process")
        input#inputUserName(type="text", placeholder="user ID", name="userID")
        input#inputUserEmail(type="text", placeholder="username", name="username")
        button#btnSubmit(type="submit") submit